*{box-sizing: border-box;
}

html,body,main{
    width: 100%;
    height:100%;
    margin: 0;
    padding: 0;
    background-color: #dadada;
    font-family: 'Poppins', sans-serif;
}

header{
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
}

p{
    margin: 0%;
}
ul{
    padding: 0%;
    margin: 0%;
}

.logo{
    display: flex;
    padding-top:8px;
    padding-bottom: 15px;
    padding-left: 13px;
}

.menu-header-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.nav-menu{
    color: white;
    display: flex;
    margin-left: 65px;
}

.menu-listado{
    display: flex;
    flex-direction: row;
}

.menu-header{
    display: flex;
}

.test{
    position: relative;
    width: 160px;
    height: 48px;
    border-radius: 50px;
    cursor: pointer;
    background-color: black;
    border: #94ff8f 2px solid;
    color: #94ff8f;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.test span{
    position: absolute;
    width: 160px;
    height: 48px;
    border-radius: 50px;
    background: rgba(177, 254, 173, .2);
    left: -105%;
    top: -4%;
    transition: .4s;
}

.test:hover span{
    left: -3%;
}

.clientes{
    position: relative;
    width: 130px;
    height: 50px;
    margin-left: 30px;
    border-radius: 50px;
    cursor: pointer;
    background-color:  #94ff8f;
    border: #94ff8f 2px solid;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}


.texto-main{
    display: flex;
    position: relative;
    width: 0%;
    top: 90px;
    left: 95px;
    width: 900px;
    height: 400px;
    margin: 0%;
}

.texto-main1{
    font-family: 'Franklin Gothic Regular';
    font-size: 80px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin: 0%;
}

.ejemplo-telefono{
    display: flex;
    position: relative;
    left: 785px;
    bottom: 450px;
    margin: 0%;
}

.texto-main2{
    position: relative;
    width: 480px;
    bottom: 95px;
    left: 95px;
    font-size: 25px;
    font-family: 'Franklin Gothic Regular', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    margin: 0%;
}

@media (max-width: 1366px){
    .texto-main1{
        font-size: 68px;
    }
    .texto-main2{
        font-size: 22px;
        bottom: 130px;
    }
    .ejemplo-telefono{
        width: 470px;
        left: 760px;
        bottom: 430px;
    }
}